allure-pytest
allure-python-commons
Appium-Python-Client
atomicwrites
attrs
certifi
charset-normalizer
colorama
cx-Oracle
decorator
docutils
et-xmlfile
idna
iniconfig
kitchen
numpy
openpyxl
packaging
Pillow
pip
pluggy
print
psutil
py
Pygments
PyMySQL
pyparsing
PyPubSub
pytest
pytest-html
pytest-json
pytest-metadata
pywin32
requests
robotframework
robotframework-pythonlibcore
robotframework-selenium2library
robotframework-requests
robotframework-SSHLibrary
robotframework-ftplibrary
robotframework-appiumlibrary
robotframework-ride
robotframeworklexer
selenium
setuptools
six
toml
urllib3
wxpython
