allure-pytest
allure-python-commons
Appium-Python-Client
atomicwrites
attrs
bcrypt
certifi
cffi
charset-normalizer
colorama
cryptography
cx-Oracle
decorator
docutils
et-xmlfile
idna
importlib-metadata
iniconfig
kitchen
numpy
openpyxl
packaging
paramiko
Pillow
pip
pluggy
print
psutil
py
pycparser
Pygments
PyMySQL
PyNaCl
pyparsing
Pypubsub
pytest
pytest-html
pytest-json
pytest-metadata
pywin32
PyYAML
requests
robotframework
robotframework-appiumlibrary
robotframework-ftplibrary
robotframework-pythonlibcore
robotframework-requests
robotframework-ride
robotframework-selenium2library
robotframework-seleniumlibrary
robotframework-sshlibrary
robotframeworklexer
scp
selenium
setuptools
six
toml
typing-extensions
urllib3
wxPython
zipp